* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Links */
a:link, a:visited {
    text-decoration: none;
    color: #2b2b2b;
}
a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255)
}
a:active {
    text-decoration: none;
}

/*Todo corpo do site, tanto a versão padrão, e a versão "active" que seria quando é mudado para o modo noturno*/
body {
    background: #f8f8f8;
    transition: 0.5s;
    font: 20px Arial, sans-serif;
    color: #2b2b2b;
}

body.active {
    background: #4b4b4b;
    color: aliceblue;
}

#globopreto.active {
    filter:invert(100%);
    transition: 0.5s;
}

nav.active {
    background-color:#363636 ;
    color: #f0f8ff;
    transition: 0.5s;
}

#quemsomos {
    background: #e9e9e9;
    transition: 0.5s;
}

.imgTop {
    transition: all 0.5s;
    cursor: pointer;
}
.imgTop:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#quemsomos.active {
    background: #444444;
}

#parceiros {
    background: #cacaca;
    transition: 0.5s;
}

#parceiros.active {   
    background: #5c5c5c;
}

#servicos {
    background: #f8f8f8;
    transition: 0.5s;
}

#servicos.active {
    background: #444444;
}

.card {
    background: #b9b9b9;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: all 0.5s;

}
.card:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.imageCard {
    border-radius: 20%;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2),

}

#card.active {
    background: #5c5c5c;
}

#card2.active {
    background: #5c5c5c;
}

#contato {
    background: #e9e9e9;
    transition: 0.5s;
}

#contato.active{
    background: #616161;
}

.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}

footer.active {
    background: #363636;
    transition: 0.5s;
}

.iconePreto {
    position: relative;
    top: 4;
    left: 65;
}

.iconeBranco {
    position: relative;
    top: 4;
    left: -25;
}












